<div class="example-container mat-elevation-z8">
  <h1 class="title">LISTA DE PRODUTOS</h1>
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="Nome">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.status | translateStatus }} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="'/main/cadastroproduto/'+ row.id"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="8" [pageSizeOptions]="[5, 8, 20]">
  </mat-paginator>

  <button mat-raised-button color="primary" class="button" (click)="cadastrar()">Novo</button>

</div>
