<div class="container" novalidate>
  <form [formGroup]="formGroup" class="form">

    <h2 class="title">Formulário de Produto</h2>

    <table class="form-element" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="form-element">
            <input matInput placeholder="Nome" formControlName="name" [(ngModel)]="produto.name">
            <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
              {{ getErrorName() }}
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="form-element" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="form-element">
              <h4></h4>
                <mat-label>Status</mat-label>
                <mat-select [(value)]="produto.status" formControlName="status">
                  <mat-option value="UNPUBLISHED">Não Publicado</mat-option>
                  <mat-option value="PUBLISHED">Publicado</mat-option>
                </mat-select>
                <mat-error *ngIf="!formGroup.controls['status'].valid && formGroup.controls['status'].touched">
                  {{ getErrorStatus() }}
                </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div>
      <button class="me-1" mat-raised-button color="primary" type="submit" (click)="saveProduto()" class="button" [disabled]="!formGroup.valid">{{isEdit ? 'Atualizar' : 'Cadastrar'}}
      </button>
      <button *ngIf="isEdit" mat-raised-button color="warn" class="button" (click)="delete()">Apagar
      </button>
      <button mat-raised-button color="accent" class="button" (click)="voltar()">Voltar</button>
    </div>
  </form>
</div>
